<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hello World</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <h3>Hello World</h3>
   <p>Welcome to my code</p>
   <!-- interpolation -->
   <p>My name is {{name}}, {{age}} years old </p>
   <ion-button color="success" (click)='sayHello()' >Say Helllo</ion-button>
  </div>
</ion-content>
